.item-icons {
  height: 32px;
  width: 32px;
}

.pixelated-icon {
  image-rendering: pixelated;
}

.logo {
  &-dark,
  &-light {
    height: 80px;
    width: 336px;
    align-self: center;
  }
  &-dark {
    background: url('../assets/images/logo/logo-dark.png');
  }
  &-light {
    background: url('../assets/images/logo/logo-light.png');
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-item {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.list-container {
  flex: 1;
  overflow-y: auto;
}

.grid-cols-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  overflow-y: auto;
}

.chest-items {
  max-height: 200px;
  overflow-y: auto;
}

.chest-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
  font-style: italic;
  text-align: center;
  min-height: 50px;

  &.light {
    border: 2px dashed #ccc;
  }
  &.dark {
    border: 2px dashed #555;
  }
}

.item-dragging {
  opacity: 1;
}

.Toastify__toast-body {
  white-space: nowrap;
}

.Toastify__toast-container {
  width: auto !important;
}

.group {
  position: relative;
  display: inline-block;

  &:hover .label-container {
    display: block;
  }

  &:hover .arrow-down {
    display: block;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #111827;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    z-index: 10;
  }

  .label-container {
    display: none;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    width: 160px;
    text-align: center;
    z-index: 10;
  }

  .head-icon {
    width: 1rem;
    height: 1rem;

    &-1 {
      background: url('../assets/images/icons/whotoldyou.png');
      background-size: contain;

      &:hover {
        background: url('../assets/images/icons/whotoldyou2.png');
        background-size: contain;
      }
    }

    &-2 {
      background: url('../assets/images/icons/iver.png');
      background-size: contain;
    }
  }
}
